* {
    margin: 0;
    padding: 0;
    
}

.background {
    background-color: #BEEDF8;
    /* height: 100vh;
    
    width: 100vh; */
    height: 812px;
    width: 375px;
}

.calBody {
    /* margin: 100px; */
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: 8vh 20vh 12vh 12vh 12vh 12vh 12vh auto;
}

.topBar {
    grid-column: span 4;
    grid-row: 1;
    background-color:#BEEDF8;
    margin: 15px;
    padding-bottom: 50px;
    box-shadow: 8px 8px 16px rgba(120, 183, 197, 0.5), -10px -10px 20px rgba(255, 255, 255, 0.2);
}

.topBar p {
    font-size: 3em;
    float: right;
    color: #BEEDF8;
    margin-right: 5px;
    text-shadow: 3px 3px 6px rgb(120,183,197), -3px -3px 6px rgba(255, 255, 255, 0.47);
}

.mainDisplay {
    grid-column: span 4;
    grid-row: 2;
    background-color:#BEEDF8;
    border-radius: 20px;
    margin: 10px 0 15px 0;
    text-align:right;
    box-shadow: 8px 8px 16px rgba(120, 183, 197, 0.5), -10px -10px 20px rgba(255, 255, 255, 0.2);
}

.mainDisplay p {
    margin-top: 45px;
    font-size: 4em;
    margin-right: 20px;
    color: #BEEDF8;
    text-shadow: 3px 3px 6px rgb(120,183,197, 0.75), -3px -3px 6px rgba(255, 255, 255, 0.47);
    
}

.first-row {
    grid-column: span 1;
    grid-row: 3;
    color: #C6EAFA;
    font-size:25px;
}

.second-row {
    grid-column: span 1;
    grid-row: 4;
}

.third-row {
    grid-column: span 1;
    grid-row: 5;
}

.fourth-row {
    grid-column: span 1;
    grid-row: 6;
}

.fifth-row {
    grid-column: span 1;
    grid-row: 7;
}

button {
    background-color: #BEEDF8;
    margin-left: 10px;
    height: 70%;
    width: 75%;
    border-radius: 50%;
    border: 1px solid #D0EDF3;
    box-shadow: 8px 8px 16px rgb(168,218,229), -8px -8px 16px rgba(255, 255, 255, 0.25);
    color: #BEEDF8;
    text-shadow: 3px 3px 6px rgb(120,183,197), -3px -3px 6px rgba(255, 255, 255, 0.47);
    font-size: 2.5em;
}

button:hover {

    background: linear-gradient(to right bottom, #A8DAE5, #BEEDF8 65%, #fff);
    box-shadow: 8px 8px 16px -10px #A8DAE5, -8px -8px 16px 10px rgba(255, 255, 255, 0.25);

}
